/*------------------------------------------------------
@font-face
------------------------------------------------------*/
/* noto-sans-jp-regular - japanese */
@font-face {
  font-display: optional;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans JP"), local("Noto Sans JP regular"),
    url("../fonts/noto_sans_jp_regular.woff2") format("woff2");
}
/* noto-sans-jp-700 - japanese */
@font-face {
  font-display: optional;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans JP"), local("Noto Sans JP bold"),
    url("../fonts/noto_sans_jp_bold.woff2") format("woff2");
}
/*------------------------------------------------------
共通スタイル
------------------------------------------------------*/
body {
  font-size: 16px;
  font-weight: 400;
  color: #2d2d2d;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.break {
  display: inline-block;
}

.is-sp {
  display: block;
}

@media screen and (min-width: 600px) {
  .is-sp {
    display: none;
  }
}

.is-pc {
  display: none;
}

@media screen and (min-width: 600px) {
  .is-pc {
    display: block;
  }
}

.inner {
  padding: 0 calc((20 / 375) * 100vw);
}

@media screen and (min-width: 600px) {
  .inner {
    padding: 0 40px;
    box-sizing: content-box;
  }
}
/*------------------------------------------------------
セクション間のタイトル
------------------------------------------------------*/
.section-title {
  line-height: calc(42 / 30);
  font-size: clamp(30px, 40 / 768 * 100vw, 48px);
  letter-spacing: 0.05em;
  font-weight: 700;
  color: #64629d;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .section-title {
    line-height: 1;
  }
}

.section-sub-title {
  margin-bottom: 12px;
  line-height: 1;
  font-size: 22px;
  font-weight: 700;
  font-family: Futura, "Century Gothic", sans-serif;
  color: #9f9ec1;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .section-sub-title {
    margin-bottom: 18px;
    font-size: 36px;
  }
}

.section-cta-title {
  line-height: calc(29 / 18);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 600px) {
  .section-cta-title {
    line-height: calc(52 / 36);
    font-size: 36px;
  }
}
/*------------------------------------------------------
ボタンスタイル
------------------------------------------------------*/
.cta-btn {
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  background-color: #64629d;
}

@media screen and (min-width: 1024px) {
  .cta-btn {
    transition: background 0.5s, color 0.5s;
  }

  .cta-btn:hover {
    background-color: #fff;
    color: #64629d;
  }
}

.cta-btn--mv {
  padding: 18px 51px 22px;
  font-size: 18px;
  border-radius: 29px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.24);
}

@media screen and (min-width: 600px) {
  .cta-btn--mv {
    padding: 18px 26px;
    border-radius: 27px;
  }
}

.cta-btn--about {
  padding: 18px 42px 22px;
  font-size: 18px;
  border-radius: 29px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.24);
}

@media screen and (min-width: 600px) {
  .cta-btn--about {
    padding: 23px 56px;
    font-size: 24px;
    border-radius: 50px;
  }
}

.cta-btn--experience {
  padding: 18px 42px 22px;
  font-size: clamp(16px, 18 / 375 * 100vw, 24px);
  border-radius: 29px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.24);
}

@media screen and (min-width: 600px) {
  .cta-btn--experience {
    padding: 23px 53px 23px;
    letter-spacing: 0.02em;
    border-radius: 50px;
  }
}

.cta-btn--pc-nav {
  padding: 12px 26px;
  width: 180px;
  border-radius: 25px;
}

.download-btn {
  display: inline-block;
  padding: 18px 49px 22px;
  border: 2px solid #64629d;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #64629d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.24);
  background-color: #fff;
  border-radius: 29px;
}

@media screen and (min-width: 600px) {
  .download-btn {
    padding: 18px 26px;
    border-radius: 27px;
    transition: background 0.5s, color 0.5s;
  }

  .download-btn:hover {
    color: #fff;
    background-color: #64629d;
  }
}
/*------------------------------------------------------
ヘッダー
------------------------------------------------------*/
.header {
  position: relative;
  padding: 0 20px;
  height: 52px;
  background-color: #fff;
  z-index: 1000;
}

@media screen and (min-width: 820px) {
  .header {
    margin: auto;
    max-width: 1187px;
    height: 72px;
    box-sizing: content-box;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__logo {
  width: 71px;
}

@media screen and (min-width: 820px) {
  .header__logo {
    width: 83px;
  }
}

.pc-nav {
  display: none;
}

@media screen and (min-width: 820px) {
  .pc-nav {
    display: block;
    margin-left: auto;
  }
}

.pc-nav__list {
  display: flex;
  align-items: center;
}

.pc-nav__item:not(:first-child):not(:last-child) {
  margin-left: 16px;
}

.pc-nav__item:last-child {
  margin-left: 14px;
}

.pc-nav__link {
  display: inline-block;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.pc-nav__link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  transition: width 0.3s;
  background-color: #64629d;
}

.pc-nav__link:hover:after {
  content: "";
  margin: auto;
  width: 50%;
}

.draw-btn {
  display: block;
  position: relative;
  width: 32px;
  height: 21px;
}

.draw-btn__text {
  display: block;
  position: absolute;
  top: -10px;
  right: 0;
  line-height: 1;
  font-size: 10px;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: #64629d;
  transition: opacity 0.5s;
}

.draw-btn__item {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #64629d;
  transition: opacity 0.5s, transform 0.5s;
}

.draw-btn__item:nth-of-type(2) {
  top: 6px;
}

.draw-btn__item:nth-of-type(3) {
  top: 15px;
  width: 20px;
}

.draw-btn__item:last-child {
  top: 24px;
}

.is-active .draw-btn__text {
  opacity: 0;
}

.is-active .draw-btn__item:nth-of-type(2) {
  top: 15px;
  transform: rotate(-45deg);
}

.is-active .draw-btn__item:nth-of-type(3) {
  opacity: 0;
}

.is-active .draw-btn__item:last-child {
  top: 15px;
  transform: rotate(45deg);
}

@media screen and (min-width: 820px) {
  .draw-btn {
    display: none;
  }
}

.sp-nav {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 52px;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: #edecfc;
  transition: opacity 0.5s, visibility 0.5s;
}

.sp-nav.is-show {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 820px) {
  .sp-nav {
    display: none;
  }
}

.sp-nav__inner {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.sp-nav__list {
  margin: 0 auto 62px;
  width: 206px;
}

.sp-nav__item:not(:last-child) {
  margin-bottom: 40px;
}

.sp-nav__link {
  display: inline-block;
  position: relative;
  padding-left: 32px;
  line-height: 1;
  font-size: 24px;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.sp-nav__link::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url(../img/draw-icon.png) no-repeat center / contain;
}
/*------------------------------------------------------
セクション間のCTAエリア
------------------------------------------------------*/
.cta {
  padding: 40px 0;
  background-color: #2d2d32;
}

@media screen and (min-width: 600px) {
  .cta {
    padding: 60px 0;
  }
}

.cta-btn-wrap {
  margin-top: 24px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .cta-btn-wrap {
    margin-top: 32px;
  }

  .cta-btn-wrap--about {
    margin-top: 40px;
  }
}

.cta-btn--nav {
  margin-bottom: 24px;
  width: 300px;
  height: 58px;
  line-height: 58px;
  font-size: 18px;
  border-radius: 29px;
  text-align: center;
}
/*------------------------------------------------------
What is Ravek?
------------------------------------------------------*/
.about {
  padding: 80px 0 60px;
}

@media screen and (min-width: 600px) {
  .about {
    padding: 100px 0;
  }
}

.about__inner {
  margin-top: 24px;
}

@media screen and (min-width: 600px) {
  .about__inner {
    margin-top: 29px;
  }
}

.about__text {
  line-height: calc(26 / 16);
  font-size: clamp(14px, 16 / 375 * 100vw, 18px);
  text-align: center;
}

.about__text:first-child {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .about__text {
    line-height: calc(32 / 18);
  }

  .about__text:first-child {
    margin-bottom: 30px;
  }
}
/*------------------------------------------------------
導入実績
------------------------------------------------------*/
.work {
  padding: 60px 0;
}

@media screen and (min-width: 600px) {
  .work {
    padding: 100px 0;
  }
}

@media screen and (min-width: 600px) {
  .work__inner {
    margin: auto;
    max-width: 972px;
  }
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 11px;
  row-gap: 12px;
  margin-top: 24px;
}

@media screen and (min-width: 600px) {
  .work__list {
    column-gap: 40px;
    row-gap: 50px;
    margin-top: 40px;
  }
}

.work__item {
  width: calc(25% - 11px * 3 / 4);
}

@media screen and (min-width: 600px) {
  .work__item {
    width: calc(25% - 40px * 3 / 4);
  }
}
/*------------------------------------------------------
導入までの流れ
------------------------------------------------------*/
.users {
  padding: 60px 0;
  background-color: #f9f9f9;
}

@media screen and (min-width: 768px) {
  .users {
    padding: 100px 0 80px;
  }
}

.users__inner {
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .users__inner {
    margin: 55px auto 0;
    max-width: 1070px;
  }
}

.users__list {
  display: flex;
  flex-direction: column;
  row-gap: 90px;
}

@media screen and (min-width: 768px) {
  .users__list {
    flex-direction: row;
    row-gap: 0;
    column-gap: 50px;
  }
}

@media screen and (min-width: 1070px) {
  .users__list {
    column-gap: 115px;
  }
}

@media screen and (min-width: 768px) {
  .users__item {
    position: relative;
    width: calc(33.3% - 50px * 2 / 3);
  }
}

@media screen and (min-width: 1070px) {
  .users__item {
    width: calc(33.3% - 115px * 2 / 3);
  }
}

@media screen and (min-width: 1070px) {
  .users__item:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    top: 25%;
    right: -25%;
    width: 22px;
    height: 56px;
    background: url(../img/flow-nav.svg) no-repeat center / contain;
  }
}

.users__thumb {
  position: relative;
  padding: 21px 68px;
  border-radius: 30px;
  background-color: #edecfc;
}

@media screen and (min-width: 768px) {
  .users__thumb {
    padding: 21px 40px;
  }
}

.users__thumb::before {
  content: attr(data-num);
  display: block;
  position: absolute;
  top: -30px;
  left: -5px;
  line-height: 1;
  font-size: 48px;
  font-weight: 700;
  font-family: Futura, "Century Gothic", sans-serif;
  color: #64629d;
}

@media screen and (min-width: 768px) {
  .users__thumb::before {
    top: -19px;
    left: -22px;
  }
}

.users__body {
  margin-top: 16px;
}

.users__title {
  line-height: 1;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .users__title {
    line-height: calc(35 / 24);
    font-size: 24px;
  }
}

.users__text {
  margin-top: 16px;
  line-height: calc(29 / 16);
}

@media screen and (min-width: 768px) {
  .users__text {
    margin-top: 8px;
  }
}
/*------------------------------------------------------
よくある質問
------------------------------------------------------*/
.faq {
  padding: 60px 0;
  background-color: #f9f9f9;
}

@media screen and (min-width: 600px) {
  .faq {
    padding: 100px 0;
  }
}

@media screen and (min-width: 600px) {
  .faq__inner {
    margin: auto;
    max-width: 920px;
  }
}

.faq__list {
  margin-top: 40px;
}

@media screen and (min-width: 600px) {
  .faq__list {
    margin-top: 60px;
  }
}

.faq__item:not(:last-child) {
  margin-bottom: 24px;
}

.faq__question {
  position: relative;
  padding: 10px 10px 8px 47px;
  line-height: calc(26 / 16);
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  background-color: #64629d;
}

.faq__question::before {
  content: "Q";
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 15px;
  line-height: 1;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .faq__question {
    padding: 22px 22px 22px 56px;
    line-height: 1;
    font-size: 18px;
    border-radius: 10px;
  }

  .faq__question::before {
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
  }
}

.faq__answer {
  position: relative;
  margin-top: 16px;
  padding: 12px 16px 12px 40px;
  line-height: calc(26 / 16);
  border-radius: 4px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .faq__answer {
    margin-top: 14px;
    padding: 21px 21px 22px 56px;
    line-height: calc(32 / 18);
    font-size: 18px;
    border-radius: 10px;
  }
}

.faq__answer::before {
  content: "A";
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 15px;
  line-height: 1;
  font-size: 22px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .faq__answer::before {
    top: 25px;
    left: 25px;
  }
}
/*------------------------------------------------------
footer
------------------------------------------------------*/
.footer {
  padding: 40px 0;
  background-color: #000;
}

.footer__inner {
  text-align: center;
}

@media screen and (min-width: 820px) {
  .footer__inner {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 20px;
    max-width: 1187px;
    text-align: left;
    box-sizing: content-box;
  }
}

.footer__info {
  margin-top: 32px;
}

@media screen and (min-width: 820px) {
  .footer__info {
    margin-top: 0;
  }
}

.footer__sns__title {
  line-height: 1;
  font-size: 18px;
  font-weight: 700;
  font-family: Futura, "Century Gothic", sans-serif;
  text-align: center;
  color: #fff;
}

.footer__sns-list {
  display: flex;
  column-gap: 18px;
  margin-top: 12px;
  justify-content: center;
}

.footer__sns-item {
  width: 24px;
}

.footer__sns-link {
  display: inline-block;
  width: 100%;
}

.footer__logo {
  margin: auto;
  width: 69px;
}

@media screen and (min-width: 820px) {
  .footer__logo {
    margin: 0;
    width: 69px;
  }
}

.footer__nav {
  margin: 14px 0 28px;
}

@media screen and (min-width: 820px) {
  .footer__nav {
    margin: 19px 0;
  }
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

@media screen and (min-width: 820px) {
  .footer__nav-list {
    flex-direction: row;
    row-gap: 0;
    column-gap: 14px;
  }
}

.footer__nav-link {
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: #fff;
}

.copyright {
  display: block;
  line-height: 1;
  font-size: 10px;
  letter-spacing: 0.03em;
  color: #fff;
}

.copyright__text {
  display: block;
}

.copyright__text:first-child {
  margin-bottom: 10px;
}

@media screen and (min-width: 820px) {
  .copyright__text {
    display: inline-block;
  }

  .copyright__text:first-child {
    margin: 0 14px 0 0;
  }
}
